* {
  padding: 0px;
  margin: 0px;
}
body{
  background-color:powderblue;
}
#selection {
  width: 100vw;
  height: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 2rem;
  position:fixed;
  top: 10vh;
  z-index: 1;
  
}
#timetable{
  position:fixed;
  top: 25vh;
  left: 9vw;
}
#reporttable{
  position: relative;
  top: 20vh;
  z-index: 0.9;
}
td,th{
  text-transform: uppercase;
  font-size: 1.2rem;
}



nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 10vh;
  position: fixed;
  z-index: 1; 
}

a{
  text-decoration: none;
}



#recordformcontent{
  width: 20vw;
  height:70vh ;
  top: 20vh;
  left: 33vw;
  position: absolute;
  
}
#recordforminput{
  width:20vw ;
  height: 75vh;
  top: 18vh;
  left: 53vw;
  position: absolute;
  
  
}
#crudbtn{
  display: flex;
  width: 30vw;
  height: 7vh;
  position: absolute;
  bottom: 2vh;
  right: 8vw;
  column-gap: 3vw;
  justify-content: center;
}
#loginform{
  width: 35vw;
  height: 50vh;
  background-color:white;
  inset: 0px;
  margin: auto;
  position: fixed;
  display: grid;
  place-items: center;
  border-radius: 1rem;
}
.stdinfo{
  width: 40vw;
  height: 80vh;
  inset: 0px;
  margin: auto;
  position: fixed;
}
