* {
  padding: 0px;
  margin: 0px;
}
#selection {
  width: 100vw;
  height: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 2rem;
}


nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 10vh;
 
}

a {
  text-decoration: none;
}
.recordoption{
    display: flex;
    width: 20vw;
    height: 90vh;
    position: absolute;
    right: 0px;
    top: 10vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 3rem;
  
}
button{
    border-radius: 1rem;
    width:8vw ;
    height: 6vh;
    border: 1px solid black;
}
.recordformcontainer{
    width: 79vw;
    height: 89vh;
    
    position: absolute;
    top: 10vh;
    left: 1px;
}
#recordformcontent{
  width: 20vw;
  height:70vh ;
  top: 25vh;
  left: 20vw;
  position: fixed;
}
#recordforminput{
  width:20vw ;
  height: 70vh;
  position: fixed;
  top: 23vh;
  left: 35vw;
  
}
