* {
  padding: 0px;
  margin: 0px;
}
body{
  background-color:powderblue;
}
#selection {
  width: 100vw;
  height: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 2rem;
}
td{
  text-transform: uppercase;
}


nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 10vh;
  
 
}

a {
  text-decoration: none;
}



#recordformcontent{
  width: 20vw;
  height:70vh ;
  top: 20vh;
  left: 33vw;
  position: absolute;
  
}
#recordforminput{
  width:20vw ;
  height: 75vh;
  top: 18vh;
  left: 53vw;
  position: absolute;
  
  
}
#crudbtn{
  display: flex;
  width: 30vw;
  height: 7vh;
  position: absolute;
  bottom: 2vh;
  right: 8vw;
  column-gap: 3vw;
  justify-content: center;
}
